body{
    font-size: 25px;
    padding: 20px;
}

.demo {
    margin:20px;
}

h2 {
    font-size: 30px;
    font-weight:bold;
    margin: 10px;
}

button {
    font-size: 25px;
    margin: 8px;
}

input {
    height: 45px !important;
    font-size: 25px !important;
}

#inputNumber {
    width: 100px;
}

#textareaResult {
    width: 600px;
    height: 300px;
    font-size:25px;
}